

<div class = "display-showroom">
  <%= render 'search' %>

  <div class = "side">
    <div class="fb-like-box" data-href="http://www.facebook.com/pages/Tutubnb/447554848629754" data-width="200" data-height="300" data-show-faces="true" data-stream="true" data-header="true"></div>
    <span>Search Tags:</span>
  	<form id = "enter_tags">
      <%= text_field_tag :tags_string %>
    </form>
    <div id = "show_tags">
    </div>
  </div>

  <div id = "display-div">
    <%= render 'selection' %>
  </div>

</div>