

<% if(notice) %>
  <div class = "notice"><%= notice %><%= link_to 'Resend Email' %></div>
<% end %> 


<div class = "display-showroom">
<%= render 'search' %>


  <div class = "display-options">
    <p> To add options </p>
  </div>

  <%= render 'selection' %>

</div>