<table class = "search-options">
  <tr>
    <td><%= link_to 'All Users', admin_users_path %></td>
    <td><%= link_to 'All Places', admin_places_paht %></td>
    <td><%= link_to 'Delete', admin_users_path %></td>
    <td><%= link_to 'Verify', admin_places_paht %></td>
  </tr>
</table>