
<div class = "outer-user-info">
  <%= render 'form' %>

  <div class = "user-info">
    <%= form_for(@user, :url => { :action => 'update_dp', :id => @user.id, :controller => 'user', :method => :put}) do |form| %>
      <table>
        <tr class="field">
          <td><%= form.file_field :avatar %></td>
        </tr>
        <tr class="actions">
          <td><%= form.submit("Upload Picture") %></td>
        </tr>
      </table>
    <% end %>
  </div>
</div>