<div id = "side">
  <table>
    <tr><td><a href = "#description">Description</a></td></tr>
  	<tr><td><a href = "#prices">Prices</a></td></tr>
  	<tr><td><a href = "#images">Images</a></td></tr>
  	<tr><td><a href = "#details">Details</a></td></tr>
  	<tr><td><a href = "#address">Address</a></td></tr>
  </table>
</div>