<div id = "side">
  <table>
    <tr><td><a href = "#description">Description</a></td></tr>
  	<tr><td><a href = "#prices">Prices</a></td></tr>
  	<tr><td><a href = "#images">Images</a></td></tr>
  	<tr><td><a href = "#details">Details</a></td></tr>
  	<tr><td><a href = "#address">Address</a></td></tr>
  </table>

  <form id = "enter_tags">
    <p>Specify Tags:</p>
    <%= text_field_tag :tags_string, params[:tags_string] %>
  </form>

    <div id = "show_tags">
      <% @place.tags_string.split(', ').each do |place_tag| %>
        <div class = "tag_name"><span><%= place_tag %></span><div><%= image_tag "close_icon.gif", :class => "tag_close_image"%></div></div>
      <% end %>
    </div>
</div>


