<% if(!@reviews.empty?) %>
  <div>
    <%= render :template => 'review/show.html.erb' %>
  </div>
<% end %>

<% if(session[:user_id] && @deal) %>
  <tr class="action">
    <%= render :template => 'review/new.html.erb' %>
   </tr>
<% end %>