 
$(document).ready(function(){
 
	$('a.place-info-list').click(function() {
		$(this).parent('li').next('div').toggle();
	});

   var tag_names = [];

  $.getJSON('/place/new.json', function(data) {
    tag_names = data;
    onload(tag_names);
  });

  function onload(tag_names) {
    $('input#tags_string').autocomplete({
      source: tag_names
    });
  }

  $('form#enter_tags').submit(function(){
    $enter_tags = $(this).children('input[type = "text"]');
    $tag_name = $.trim($enter_tags.val());
    if($tag_name != null && $tag_name.length != 0) {
      $place_tags_value = $('input#place_tags_string').val();
      $('div#show_tags').append($('<div class = "tag_name"><span>'+ $tag_name +'</span><div><%= image_tag "close_icon.gif", :class => "tag_close_image"%></div></div>'));
      if($place_tags_value != null && $place_tags_value.length != 0 )
        $('input#place_tags_string').val([$('input#place_tags_string').val(), $tag_name].join(', '));
      else
        $('input#place_tags_string').val($tag_name);
    }
    $enter_tags.val('');
    return false;
  });


  

 //  $('input#place_tags_string').keyup(function() {
 //      tag_divs = $(this).val().split(',');
 //      last_tag = tag_divs[tag_divs.length - 1];
 //      $('div#show_tags').html('');
 //      for(var i = 0; i < tag_divs.length; i = i + 1) {
 //        $('div#show_tags').append($('<div class = "tag_name"><span>'+ $.trim(tag_divs[i]) +'</span><div><%= image_tag "close_icon.gif", :class => "tag_close_image"%></div></div>'));
 //      }

 // /*     regex = new RegExp("(^(" + $.trim(last_tag) + ")[a-zA-Z0-9\s_\t]*)");
 //      $('div#suggestions').html('');
 //      for(var i = 0; i < tag_names.length; i = i + 1) {
 //        console.log(last_tag);
 //        if(regex.test(tag_names[i]) == true) {
 //          $('div#suggestions').show();
 //          $('div#suggestions').append('<p>' + tag_names[i] + '</p>');
 //        }
 //      } */
 //  });

  $('img.tag_close_image').live('click', function() {
    $tag_div = $(this).parent('div').parent('div.tag_name');
    regex = new RegExp("((' '|\t)*(" + $tag_div.children('span').text() +")(' '|\t)*(,)?)");
    $('input#place_tags_string').val($('input#place_tags_string').val().replace(regex, ''));
    $(this).parent('div').parent('div.tag_name').remove();
  });

  // if (GBrowserIsCompatible()) {
  //       var point;
  //       var map=new GMap2(document.getElementById("map"));
  //       con
  //        map.addControl(new GOverviewMapControl());
  //    map.enableDoubleClickZoom();
  //    map.enableScrollWheelZoom();
  //    map.addControl(new GMapTypeControl());
  //    map.addControl(new GSmallMapControl());
  //        var address='<img src="myimage.gif" width=150 height=40/><br/>' + 
  //        <font size="2" face="Arial"><b>INDIA</b><br/><br/>Home.<br/>' + 
  //    New York City<br/><br/>America<br/>Ph.: 23743823</font>';
  //        var marker = new GMarker(point);
  //        map.setCenter(point,17);
  //        map.addOverlay(marker);
  //        map.setMapType(G_HYBRID_MAP);
  //        GEvent.addListener(marker, "click", function() {
  //           marker.openInfoWindowHtml(address);});
  //        marker.openInfoWindowHtml(address); 
               
  //     }
  //   }

});