/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.main {
	.header {
    border : 1px solid black;
    background : lightgreen;
      td {
        padding : 0px 2px;
      }

    form, div
    {
      display : inline;
    }
    form
    {
      float : right;
    }

    a {
      color : blue;
    }


  }

  .part {
    margin-top : 10px;
    
  }

}

div#notice {
    border : 1px solid black;
    background : lightgreen;
    color : green;
    text-align : center;
  }

  div#error {
    border : 1px solid black;
    background : pink;
    color : magenta;
    text-align : center;
  }

  div#alert {
    border : 1px solid black;
    background : lightblue;
    color : blue;
    text-align : center;
  }

  div#error_explanation {
      h2 {
        color : white;
        background-color : red;
        font-size : 14px;
      }

      ul {
      li {
        background : pink;
        font_size : 12px;
        list-style-type : none;
      }
    }
  }
