// Place all the styles related to the Display controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.display-showroom {

  .search-options {
    width : 100%;
    background : purple;
    border : 1px solid black;
    display : block;
    color : white;

    td {
      padding : 5px;
    }

    input[type = "text"] {
      width : 125px;
    }
  }

  .display-places, .display-users {
    width : 100%;
    background : lightblue;
    //margin-left : 10%;
    .selected-place, .selected-user {
    	
      .left-cell {
        width : 25%;
      }


      .mid-cell {
        width : 50%;

        .title {
          margin : 15%;
          color : blue;
          text-weight : bold;
          display : inline;
        }

        .property-type {
          margin-left : 10%;
        }
      }   

      .right-cell {
        width : 25%;
      }


    }

    .odd_place_row, .odd_user_row {
      background : lightgrey;
    }

    .even_place_row, .even_place_row {
      background : lightgreen;
    }
  }
}