// Place all the styles related to the Display controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.display-showroom {

  .search-options {
    width : 100%;
    background : purple;
    border : 1px solid black;
    display : block;
    color : white;

    td {
      padding : 5px;
    }

    input[type = "text"] {
      width : 125px;
    }
  }

  .display-places, .display-users {
    width : 80%;
    background : lightblue;
    display : table-cell;
    margin-left : 20%;
    .selected-place, .selected-user {
    	
      .left-cell {
        width : 25%;
      }


      .mid-cell {
        width : 50%;

        .title {
          margin : 15%;
          color : blue;
          text-weight : bold;
          display : inline;
        }

        .property-type {
          margin-left : 10%;
        }
      }   

      .right-cell {
        width : 25%;
      }


    }

    .odd_place_row, .odd_user_row {
      background : lightgrey;
    }

    .even_place_row, .even_place_row {
      background : lightgreen;
    }
  }
}

#side {
  background : pink;
  border : 1px solid magenta;
  float : left;
  width : 20%;
  height : 100%;
  display : table-cell;

  td {
    text-align : left;
    padding-left : 5%;
    padding-top : 5%;
    text-decoration : none;
    color : magenta;

    a:hover {
      color : black;
    }
  }

  input[type = "text"] {
    margin-left : 5%;
    width : 90%;
  }

  div#show_tags {
    height : 300px;
    overflow : auto;
      div.tag_name {
        color : white;
        height : 20px;
        margin : 10px;
        z-index : -1px;
        float : left;
        display : block;
        background : purple;
        
      div {
        display : inline;
      }
    }
  }
}
