// Place all the styles related to the place controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul.ui-autocomplete {
  background : white;
  overflow : auto;
  max-height : 75px;
  width : 14%;

  li {
    color : black;
    list-style-type : none;
  }

  a:active {
    color : white;
    background : orange;
  }
}

div.side {
  background : pink;
  border : 1px solid magenta;
  float : left;
  width : 20%;
  height : 100%;
  display : table-cell;

  td {
    text-align : left;
    padding-left : 5%;
    padding-top : 5%;
    text-decoration : none;
    color : magenta;

    a:hover {
      color : black;
    }
  }

  input[type = "text"] {
    margin-top : 10%;
    margin-left : 5%;
    width : 90%;
  }

  div#show_tags {
    height : 300px;
    overflow : auto;
      div.tag_name {
        color : white;
        height : 20px;
        margin : 10px;
        z-index : -1px;
        float : left;
        display : block;
        background : purple;
        
      div {
        display : inline;
      }
    }
  }
}


.place-info {
  height : 100%;
  background : lightblue;
  width : 80%;
  border : 1px solid blue;
  padding-left : 5px;
  margin-top : 0px;
  margin-left : 20%;

  p {
    height : 2%;
    background : blue;
    color : white;
    font-weight : bold;
    border : 1px solid black;

  }

  label {
    color : purple;
  }
    
  td {
    padding-left : 10%;
    padding-top : 2%;
  }

  .actions {
    td {
      padding-left : 100%;

    }
  }

/*  
div#suggestions {
    background : white;
    overflow : auto;
    height : 100px;
    display : none;
    p {
      background : white;
      color : black;
      height : 20%;
      font-weight : normal;
      border : none;
      z-index : +2px;
      padding : 0px;
    }
  }
*/
}

.place-information {
  background : lightblue;
  width : 80%;

  iframe {
    width : 60%;
    margin-left : 20%;
    margin-top : 20px;
    height : 400px;

  }
  
  img.small {
    width : 100px;
    height : 100px;
  }

  li {
    background : blue;
    z-index : 3px;
    list-style-type : none;

    a {
      color : white;
      padding : 2px;
      text-decoration: none;
    }
  } 

  table {
    background : lightgreen;
    border : 2px solid blue;
    color : blue;
    margin-left : 2%;
    width : 90%;
    height : 100%;
    overflow : auto;
  }
}