.outer-user-info {
  height : 100%;
  .user-option {
    background : pink;
    display : table-cell;
    height : 100%;
    width : 20%;
    border : 1px solid magenta;

    .profile-pic {

      img {
        margin-left : 15%;
        margin-top : 10%;
      }

      a {
        width : 80%;
        height : 20%;
        margin-left : 20%;
        margin-top : 5%;
        color : red;
        font-size : 12px;
      }
    }

    ul {
      margin-bottom : 3px;
    	li {
        margin : 2px;
        list-style-type : none;
        border-bottom : none;
        padding : 5px;
        

        a {
          color : green;
          text-decoration : none;
        }
      }

      li:hover a {
        color : black;
      }
    }
  }

  .user-info, .display-places {
    height : 100%;
    background : lightblue;
    width : 80%;
    display : table-cell;
    border : 1px solid blue;
    padding-left : 5px;
    margin-left : 20%;
    margin-top : 0px;
    label {
      color : purple;
    }
    td {
      padding-left : 10%;
      padding-top : 5%;
    }
  }

  .odd_place_row {
    background : lightgrey;
  }

  .even_place_row {
    background : lightgreen;
  }
}

