
  <table>
    <tr class="field">
      <td><%= form.label :rules %>*</td>
      <td><%= form.text_area :rules, :rows => 10, :placeholder => "Enter your house rules" %></td>
    </tr>
    <tr class="field">
      <td><%= form.label :availables %>*</td>
      <td><%= form.text_area :availables, :rows => 10, :placeholder => "Specify the things at your place like t.v., fridge etc." %></td>
    </tr>
  </table>