<a name = "rules"></a>
  <table>
    <tr class="field">
      <td><%= "Rules:" %></td>
      <td><%= @rules.rules %></td>
    </tr>
    <tr class="field">
      <td><%= "Available things:" %></td>
      <td><%= @rules.availables %></td>
    </tr>
  </table>